/***********/
/* General */
/***********/

body {
    background: #dae5eb url([[pix:theme|background]]) center top no-repeat;
    font: 0.6875em/1.4545 Verdana,Arial,sans-serif;
}

#page {
    padding-left: 8%;
    padding-right: 8%;
}

#page-content {

}

/***********/
/* Regions */
/***********/

#region-main {
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
}





/**********/
/* Navbar */
/**********/

.navbar .container-fluid{
    padding-right: 0;
}

.navbar .logininfo {
    background-color: lawngreen;
    padding-right: 20px;
}



/**********/
/* Blocks */
/**********/

.block {
    border-color: #75bee9;
}

.block .header h2 {
    color: #75bee9;
}

.block a, .block p {
    color: #414141;
}

/*******************/
/* Specific blocks */
/*******************/

.block_course_overview {
    border-color: transparent;
}

/**************************/
/* Region-specific blocks */
/**************************/

#block-region-side-post {
    background-color: #fff;
    border-radius: 4px;
    padding-left: 3px;
    padding-right:3px;
}

#block-region-side-post .block {
    background-image: linear-gradient(to bottom, #e9e9e9, #d1d1d1);
    border-color: #d1d1d1;
    margin: 4px;
    margin-top: 9px;
    margin-bottom: 9px;
}

#block-region-side-post .block .header h2 {
    color: #111;
}

/******************/
/* Breadcrumb-nav */
/******************/

.breadcrumb {
    background-image: linear-gradient(to bottom, #448cad, #256180);
    color: #fff;
}

.breadcrumb a {
    color: #fff;
}



.breadcrumb>li {
    text-shadow: none;
}

.breadcrumb>li>.divider{
    color: #fff;
}

/**********/
/* Footer */
/**********/

#page-footer {
    border: 1px solid #75bee9;
    border-radius: 4px;
}


/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
