/***********/
/* General */
/***********/

body {
    background: #dae5eb url([[pix:theme|background]]) center top no-repeat;
    font: 0.6875em/1.4545 Verdana,Arial,sans-serif;
}

#page {
    padding-left: 8%;
    padding-right: 8%;
}

@media screen and (max-width: 768px) {
    #page {
        padding-left: 0;
        padding-right: 0;
    }
}

#page-content {

}

/***********/
/* Regions */
/***********/

#region-main {
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 20px;
}





/**********/
/* Navbar */
/**********/

.navbar-fixed-top {
    margin-left: 8%;
    margin-right: 8%;
}

.navbar-fixed-top .navbar-inner {
    background-image: linear-gradient(to bottom, #448cad, #256180);
}

.navbar-fixed-top .navbar-inner a {
    color: #fff;
    text-shadow: none;
}

.navbar .brand {
    padding: 5px 20px 5px;
}

.navbar .nav>li>a,
.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover,
.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    color: #fff;
    text-shadow: none;
    background: transparent;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar .logininfo {
    color: #fff;
}

.navbar .btn-navbar {
    background-image: linear-gradient(to bottom, #9bd449, #75ab2d);
    background-color: #699828;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
    background-color: #699828;
}

@media screen and (max-width: 768px){
    .navbar-fixed-top {
        margin-right: -20px;
        margin-left: -20px;
    }

    .navbar .dropdown-menu {
        background: transparent;
    }

    .navbar .dropdown-toggle {
        background: transparent;
    }
}

    .navbar .container-fluid {
    padding-right: 0;
}

.navbar .container-fluid {
    border-top-right-radius: 5px;
}

@media screen and (min-width: 768px) {

    .navbar-fixed-top .navbar-inner{
        border-width: 0 0 1px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 8px;
    }

    .navbar .dropdown-menu {
        background-image: linear-gradient(to bottom, #448cad, #256180);
    }

    .navbar .dropdown-toggle {
        background-image: linear-gradient(to bottom, #448cad, #256180);
    }

    .navbar .logininfo {
        padding-right: 20px;
        padding-left: 10px;
        border-bottom-right-radius: 8px;
    }

    .navbar #is-logged-in .logininfo {
        background-image: linear-gradient(to bottom, #97cf48, #75ab2d);
    }

    .navbar #is-guest .logininfo {
        background-image: linear-gradient(to bottom, #ecc614, #e1a30b);
    }

    .navbar #not-logged-in .logininfo {
        background-image: linear-gradient(to bottom, #c4c4c4, #9b9b9b);
    }

    .navbar .logininfo a {
        color: #fff;
    }
}




/**********/
/* Blocks */
/**********/

.block {
    border-color: #75bee9;
}

.block .header h2 {
    color: #75bee9;
}

.block a, .block p {
    color: #414141;
}

/*******************/
/* Specific blocks */
/*******************/

.block_course_overview {
    border-color: transparent;
}

/******************/
/* Course content */
/******************/

@media screen and (max-width: 768px) {
    h3.sectionname {
        font-size: 14px;
        line-height: 24px;
    }
}

/**************************/
/* Region-specific blocks */
/**************************/

#block-region-side-post {
    background-color: #fff;
    border-radius: 4px;
    padding-left: 3px;
    padding-right:3px;
    padding-top: 3px;
}

#block-region-side-post .block {
    background-image: linear-gradient(to bottom, #e9e9e9, #d1d1d1);
    border-color: #d1d1d1;
    margin: 4px;
    margin-top: 5px;
    margin-bottom: 7px;
}

#block-region-side-post .block .header h2 {
    color: #111;
}

/******************/
/* Breadcrumb-nav */
/******************/

.breadcrumb {
    background-image: linear-gradient(to bottom, #448cad, #256180);
    color: #fff;
}

.breadcrumb a {
    color: #fff;
}



.breadcrumb>li {
    text-shadow: none;
}

.breadcrumb>li>.divider{
    color: #fff;
}

/**********/
/* Footer */
/**********/

#page-footer {
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    #page-footer {
        margin-top: 20px;
    }
}

#page-footer #address-info {
    background-color: #fff;
}

#page-footer p {
    margin: 0;
}

/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
